:root{
    --comfort : "Comfortaa", sans-serif;
    --namita :  "Nunito", sans-serif;
    --playfair :  "Playfair Display", serif;
    --robota  :  "Roboto", sans-serif;



}
::selection{
 
 
    color: rgb(245, 176, 2) ;

}
html{
    scroll-behavior:smooth;
  
   
    scrollbar-color:  rgb(225, 175, 48) transparent;
  
}
body{
    background-color: rgba(249, 250, 255, 1);
}
*{
        margin:0px;
    padding: 0px;
    color:black;
    a{
        text-decoration: none;
    }
}
 
.nav-bar{
    font-family: var(--comfort);
    font-size: 18px;
    font-weight:400;
    line-height: 180%;
    letter-spacing: 0px;

    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    height: 56px;

    padding:14px 120px;

 





}
.nav-bar .hamburger{
    display: none;
    cursor: pointer;
}

.nav-bar .hamburger .menu_content_show div:hover{
 background-color:rgb(215, 156, 8);


}
.nav-bar .left{
    transition: all linear 0.1s;
}


 

.nav-bar .right {
    display: flex;
    gap: 48px;


}

.nav-bar .right>*:first-child{
    width:63px;


   
}
.nav-bar .right a:nth-child(2){
    width:83px;
    
}
.nav-bar .right a:nth-child(3){
    width:94px;
    
}


.nav-bar .right a{
    text-decoration: none;


    transition: all 0.1s linear;

}
.nav-bar .right a:hover, .nav-bar a .left:hover{
    font-size:21px;
}
.nav-bar .right .about-underline{
    border:2px solid rgba(253, 196, 53, 1) ;

    border-radius: 2px;
    width:58px;
 
    
 
}
 

.about-me-section-container{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    padding-left: 120px;
    padding-right: 120px;
    
     justify-content: space-between;
     gap:80px;
     align-items: center;

    
}


.about-me-section-container figure img{
    width: 524px;
    height: 524px;
 
   
}
.about-me-section-container .about-me-section{
    width:588px;
    height: 313px;
  
}

.about-me-section-container .about-me-section h2{
    font-family: var(--playfair);
    line-height: 130%;
    letter-spacing: 0%;
    font-size: 48px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.about-me-section-container .about-me-section .about-me-section-content{
    font-family: var(--namita);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 330;
    color: rgba(130, 130, 130, 1);
    padding:32px 0;
}
.about-me-section-container .about-me-section .button button{
    width:114px;
    height: 43px;
    padding:8px 24px;
    border-radius: 8px;
    opacity: 100%;
    background-color: rgba(253, 196, 53, 1);

    font-family: var(--robota);
    font-size: 18px;
    font-weight: normal;
    border:none;
}

.web-footer{
  
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 192px;
    height: 102px;
    margin:0 auto;
      margin-top: 120px;
 
 
 }
.web-footer .social-media-handle{
 
    display:flex;
    flex-direction: row;
    width:192px;
    height: 48px;
    gap:24px;
    justify-content: space-between;
    margin-bottom: 32px;

}
.web-footer .social-media-handle img{
    width:37.5px ;
    height: 37.5px;
 
    
    
}
.web-footer .web-info{
    font-family: var(--namita);
    font-weight: 300;
    line-height: auto;
    letter-spacing: 0%;
    font-family: 16px;
    opacity: 100%;
    color:rgba(130, 130, 130, 1);
}

.footer-bottom-bg{
    background-image: url(images/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 344px;
 
    margin-top: -120px;
}


@media  screen and (max-width:1153px) {
    .about-me-section-container figure img{
        width: 400px;
        height: auto;
    }
.about-me-section-container .about-me-section{
    height: auto;
}
    
}
@media screen and (max-width:1115px) {
    .about-me-section-container{
        flex-direction: column-reverse;
    }
    .about-me-section-container .about-me-section h2{
        text-align: center;
    }
.about-me-section-container .about-me-section .about-me-section-content{
    text-align: justify;
}
.about-me-section-container .about-me-section .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
}
@media screen and (max-width:800px) {
    .nav-bar .right{
        display: none;
    }
    
   
    .nav-bar .hamburger span{
        display: block;
        width:35px;
        height: 2px;
        background-color: black;

        margin:3px;
        margin-left: 0px;
        
    }
     .nav-bar .hamburger{
      
        position: relative;
        transition: all ease 0.3s;
        display: block;

        
     
     
        


    }
    .nav-bar .hamburger_translate{
        transition: all ease 0.3s;
    }
     
    .nav-bar .hamburger .menu_content{
        position: absolute;
        inset: 0;
        top:40px;
        opacity: 0;
        transform: translateY(-30px);
        transition:all ease 0.2s;
        pointer-events: none;
        /* width:70px; */
        height:100px;
        border-radius: 20px;
        
    

       
        
    }

    .nav-bar .hamburger .menu_content_show{
        opacity: 1;
        transform: translateY(0);
        pointer-events:auto;

        

    }
    .nav-bar .hamburger .menu_content_show div{
                background-color:rgb(219, 170, 44);
                border-radius: 15px;

        color:white;
            padding:6px;
            margin:10px;
    padding-left: 5px;
    width: 90px;
    height: auto;
    text-align: center;

    }
 
     
        
 
    .nav-bar .hamburger_translate span:nth-child(1){


        transform: rotate(45deg) translateY(5px);   
        
    
        
    }
    .nav-bar .hamburger_translate span:nth-child(3){
        transform:rotate(-45deg) translateY(-5px);
    }
    .nav-bar .hamburger_translate span:nth-child(2){
        opacity: 0;
    }

 
    
    
}
@media screen and (max-width:647px){
    .about-me-section-container .about-me-section .about-me-section-content{
        padding:10px;
    }
 .about-me-section-container .about-me-section{
    max-width: 450px;
 }
}

@media screen and (max-width:500px) {
    .nav-bar{
        padding: 20px;
    }

 .about-me-section-container .about-me-section{
    max-width: 400px;
 }

    
}
@media screen and (max-width:435px){
     .about-me-section-container .about-me-section{
    max-width: 340px;
 }
 .about-me-section-container figure img{
     width: 340px;
 }

}
@media screen and (max-width:360px) {
    .about-me-section-container figure img{
        width:200px;
    }
    .about-me-section-container .about-me-section .about-me-section-content{
        width:270px;
        margin:0 auto;
    }
    
    .about-me-section-container .about-me-section{
        width:auto;
    }
}
