:root{
    --comfort : "Comfortaa", sans-serif;
    --namita :  "Nunito", sans-serif;
    --playfair :  "Playfair Display", serif;
    --robota  :  "Roboto", sans-serif;



}
html{
    scroll-behavior:smooth;
  
   
    scrollbar-color:  rgb(225, 175, 48) transparent;
  
}
body{
    background-color: rgba(249, 250, 255, 1);
}
*{
        margin:0px;
    padding: 0px;
    color:black;
    a{
        text-decoration: none;
    }
}
.nav-bar{
    font-family: var(--comfort);
    font-size: 18px;
    font-weight:400;
    line-height: 180%;
    letter-spacing: 0px;

    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    height: 56px;

    padding:14px 120px;

 





}
.nav-bar .left{
    transition: all linear 0.1s;
}


 

.nav-bar .right {
    display: flex;
    gap: 48px;


}

.nav-bar .right>*:first-child{
    width:63px;


   
}
.nav-bar .right a:nth-child(2){
    width:83px;
    
}
.nav-bar .right a:nth-child(3){
    width:94px;
    
}


.nav-bar .right a{
    text-decoration: none;


    transition: all 0.1s linear;

}
.nav-bar .right a:hover, .nav-bar a .left:hover{
    font-size:21px;
}
.nav-bar .right .contact-underline{
    border:2px solid rgba(253, 196, 53, 1) ;

    border-radius: 2px;
    width:70px;
    margin-left: 3px;
 
    
 
}
.contact-sec {
 

    margin:0 auto;
}

.contact-sec h1{
    font-family: var(--playfair);
    font-size: 48px;
    font-weight:bold;
    color:rgba(37, 40, 43, 1);
    line-height: 72px;
    letter-spacing: 05;

    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contact-sec .contact-form{
    width: 400px;
    height: 445px;

    margin: 0 auto;
    
}


.contact-sec .contact-form label{
    font-family: var(--namita);
    font-size: 16px;
    font-weight:lighter;
    line-height: auto;
    letter-spacing: 0%;
    color:rgba(37, 40, 43, 1);
    width: 100%;
    display: inline-block;
    margin-bottom: 8px;


}
.contact-sec .contact-form input{
    width:400px;
    height:40px;
   margin-bottom: 24px;
   border-radius: 8px;
   background-color: white;
   border:none;
}
.contact-sec .contact-form textarea{
    width: 400px;
    height: 160px;
    resize:none;
    margin-bottom: 24px;
    border:none;
}

.contact-sec .contact-form .button{
    width:89px;
    height: 43px;
    padding:8px 24px;
    background-color: rgba(253, 196, 53, 1);
    border-radius: 8px;
    opacity: 100%;
  border:none;

  

    font-family: var(--robota);
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0%;
    position: relative;
    left: 311px;

    

}






.web-footer{
  
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 192px;
    height: 102px;
    margin:0 auto;
      margin-top: 50px;
 
 
 }
.web-footer .social-media-handle{
 
    display:flex;
    flex-direction: row;
    width:192px;
    height: 48px;
    gap:24px;
    justify-content: space-between;
    margin-bottom: 32px;

}
.web-footer .social-media-handle img{
    width:37.5px ;
    height: 37.5px;
 
    
    
}
.web-footer .web-info{
    font-family: var(--namita);
    font-weight: 300;
    line-height: auto;
    letter-spacing: 0%;
    font-family: 16px;
    opacity: 100%;
    color:rgba(130, 130, 130, 1);
}

.footer-bottom-bg{
    background-image: url(images/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 344px;
 
    margin-top: -120px;
}

